.basvuru-detay {
    border: 1px solid rgba(179, 224, 16, 0.486);
}

.basvuru-detay-header {
    display: flex;
    justify-content: center;
    background-color: rgba(12, 209, 12, 0.486);
}

.basvuru-detay-header-buttonCol {
    margin-left: auto;
    max-width: 100px;
}

.basvuru-detay-submit-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.basvuru-detay-submit-buttons-submit {
    padding-left: 20px;
    padding-right: 20px;
}

#basvuruDetay-footerButtons {
    display: flex;
    justify-content: space-around;
}